body{
    background-color: #000099;
    


}
h1{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding:10px 10px;

}
form{
    color: white;
}
ul{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 10px;
      
}
li{
    color: black;
   
    list-style-type: none;
    border-radius: 5px;
    border: solid 1px;
    border-color: white;
   
    
    padding-top: 10px 10px 10px 10px;
   
    margin: 10px 10px 10px 10pxx;
    padding-inline: 10px;
}
input [text] {


    color: rgb(61, 60, 60);
    align-content:flex-start;
    border-radius:5px ;

    
}
input [submit]  {
    border-radius: 8px;
}
.item{
   
    background-color:white

}
