body{
    background-color: #000099;

}
h1{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;


}
ul{
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


}
input {
    color: white;

    
}
